.add-option {
  display: flex;
  flex-direction: column;
  padding: $medium;

  &__error {
    color: $lighter-blue;
    font-style: italic;
    padding: 0 $medium;
    margin: $medium 0 0;
  }

  &__input {
    flex-grow: 1;
    background-color: $dark-blue;
    color: $lighter-blue;
    border: none;
    border-bottom: 0.3rem solid darken($color: $dark-blue, $amount: 10%);
    padding: $small;
    margin: 0 0 $small 0;
  }
}

@media (min-width: $desktop) {
  .add-option {
    flex-direction: row;

    &__input {
      margin: 0 $small 0 0;
    }
  }
}