.header {
  background-color: $off-black;
  color: aliceblue;
  margin-bottom: $xlarge;
  padding: $medium 1rem;

  &__title {
    color: azure;
    font-size: $large;
    margin: 0;
  }

  &__subtitle {
    color: $lighter-blue;
    font: {
      size: $medium;
      weight: 500;
    }
    margin: 0;
  }
}