$baseFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// Colors

$off-black: #20222b;
$lighter-blue: #a5afd7;
$dark-blue: #333745;

// Spacing
$medium: 1.6rem;
$large: 3.2rem;
$xlarge: 4.8rem;